*{
  margin: 0;
}

.App {
  background-color: #5b6533;
  display: flex;
  text-align: center;
}

.App-header {
  display: flex;
  background-color: #098f2b;
  width: 100%;
  min-height: 1%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
  padding: 8px 0px; 
  top: 0;
  z-index: 1;
}

.App-main {
 
}  

.App-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  min-height: 96.6vh;
  z-index: 0;
}

.App-left {
  display: flex;
  justify-content: center;
  padding: 0.7% 0 0.7% 0;
}

.App-right {
  position: absolute;
  right: 0;
  margin-top: 51px;
  overflow: auto;
  padding: 0.7% 0.8% 0.05% 0; 
}

.mapClass{
  margin-top: 51px;
  border-radius: 15px;
}

.buttonDrop{
 position: relative;
 left: -230px;
 height: 35.5px;
 /* text-align: right;  */
}

.buttonDrop:hover::after{
  font-size: small;
  content: 'Choose km distance';
  text-transform: capitalize;
  color:rgba(0, 0, 0, 0.7);
  background-color: #fdd9a6;
  padding: 6px;
  width: 145px;
  height: 20px;
  position: absolute;
  top: 41px;
  left: 53px;
  border: 0.3px solid #8da0a0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  border-radius: 2.5px;
}

.App-footer {
  display: flex;
  position: absolute;
  bottom: 0px; 
  background-color: #098f2b;
  width: 100%;
  min-height: 0.3%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  padding: 8px 0;
  font-size: 0.9em;
}

.marker {
  background: none;
  border: none;
  cursor: pointer
}

img{
  padding: 0.5rem 0 0.5rem;
}

#title{
  font-size: 28px;
  font-style: bold;
}

#form{
  display: flex;
}

li{
  list-style:none
}

.cluster-marker {
  color: #fff;
  background: #421985b7;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}


a:visited{
  color: rgb(240, 77, 132)
}

.geolocateClass{
  left: 60vw;
  top: -9px;
} 

.geocoderContainer{
  position: relative;
  top: 0;
  right: 1vw;
} 

.buttonDrop{
  position: relative;
  left: -2vw;
  height: 35.5px;
 }

.buttonGo{
  background-color: #54d30a;
  border: none;
  color: darkblue;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 0 0 10px;
  border-radius: 60%;
  cursor:pointer
}

.popupStyle .mapboxgl-popup-content{ 
  background-color: #cd3c3c;
  cursor: default;
  color: white;
  font-size: 0.87rem;
  text-size-adjust: auto;
}

.popupStyle.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
  border-top-color:  #cd3c3c;
}
.popupStyle.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
  border-bottom-color:  cd3c3c;
}
.popupStyle.mapboxgl-popup-anchor-left .mapboxgl-popup-tip{
  border-right-color:  cd3c3c;
}
.popupStyle.mapboxgl-popup-anchor-right .mapboxgl-popup-tip{
  border-left-color:  cd3c3c;
}

.popupStyle.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
  border-bottom-color:  cd3c3c;
}
.popupStyle.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip{
  border-bottom-color:  cd3c3c;
}
.popupStyle.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip{
  border-top-color:  cd3c3c;
}
.popupStyle.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip{
  border-top-color:  cd3c3c;
} 

.popupLink{
  padding: 0.6rem 0 0.18rem;
} 

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 359px) {

.geocoderContainer{
 right: 0vw;
}

.buttonDrop{
  left: -0.1vw;
 }
}

@media only screen  and (orientation: landscape)  {

  .navControl{
    top: 54px;
    right: 0
   }

  .App-left {
    width: 75.5vw;
    height: 94.6vh;
  }
  .App-right{
    width: 24vw;
    height: 85vh;  
  }

  #title{
    padding-left: 1vw;
  }
}

@media only screen  and (orientation: landscape) and (max-width: 740px) {

  .geolocateClass{
    left: 38vw;
    top: -4px;
   }

   .App-left {
    width: 59.7vw;
    height: 86.3vh
  }

  .App-right {
    width: 38.9vw;
    height: 76.2vh;
    padding-left: 0.5%; 
    padding-right: 1.3%; 
  }

  .App-footer {
    padding: 4px 0;
  }

} 

@media only screen and(min-width: 360px) and (max-width: 600px) {

  .geocoderContainer{
    right: 2vw;
    top: -4px
   }

   .buttonDrop{
    left: -3.4vw;
    min-width: 2vw;
    padding: 0;
   }
}

@media only screen and (max-width: 600px) {
  
  .App {

  } 

.App-container {
  flex-direction: column;
  height: 98vh;
}

.App-header {
  flex-direction: column;
  padding: 1.5px 0px 1px;
}

.App-left {
 width: 100%;
 height: 46vh;
 padding: 0;
 justify-content: center;
}

.App-right {
  width: 98%;
  right: 3.5px;
  height: 44vh;
  top: 51.5%;
  overflow: auto;
  padding: 0 0.01% 0;
}

.App-footer {
  top: 98vh;
  font-size: 11px;
}

#title{
  padding: 0;
  margin-bottom: 7px;
  font-size: 20px;
}

.mapClass{
  top: 40px;
} 

.geolocateClass{
 left: -1.2vw;
 top: -5.5px;
}

.geocoderContainer{
  top: -4px;
  left: -3vw;

 }

 .buttonDrop{
  top: 10px;
 }

 .navControl{
  top: 90px
 }
  
} 

@media only screen and (min-width: 601px) and (max-width: 1200px){
/*big tablets and laptops*/ 
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
  .App-right {
    padding-right: 0.6%; 
  }
}

@media only screen and (min-width: 1400px) {

  .App-left {
    width: 76.6vw;
    height: 97vh;
    padding-left: 0.4%;  
  }
 
  .App-right {
    width: 22.5vw;
    height: 88.6vh;
    padding-right: 0.9%;
  }

}


