/* body{
  background-color: #81a586;
} */

*{
  margin: 0;
}

.App {
  background-color: #81a586;
  padding: 10px; 
  display: flex;
  text-align: center;
/*   width: 99%; */
  min-height: 100%; 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #098f2b;
  left:0;
  width: 97.8%;
  min-height: 1%;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*font-size: calc(10px + 2vmin);*/
  color: white;
  padding: 10px 15px;
  top: 0;
  z-index: 1;
}

.App-container {
  display: flex;
  justify-content: space-between;
  width: 99vw;
  min-height: 96.6vh;
  z-index: 0;
}

.App-left {
  width: 76.4%;
  padding: 0.05%;
  padding-right: 0.05%;
}

.App-right {
  position: absolute;
  right: 0;
  margin-top: 56px;
  width: 23%;
  overflow: auto;
  height: 83vh;
  padding: 0.1%;
  padding-right: 0.3%;
  padding-left: 0.05%;
}

.mapClass{
  margin-top: 56px;
  border-radius: 15px;
}

.buttonDrop:hover::after{
  content: 'Choose km distance';
  background-color:  #098f2b;
  color: white;
  width: 200px;
  height: 30px;
  position: absolute;
  top: 50px;
  right: -50px;
}

/* .geolocateClass{
top: 13px;
z-index: 2;
} */

.App-footer {
  left: 0;
  background-color: #098f2b;
  width: 98.8%;
  min-height: 0.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  padding: 8px;
  position: absolute;
  bottom: 0px;
  font-size: 0.9em;

}

.marker {
  background: none;
  border: none;
  cursor: pointer
}

.popup{
  cursor: default
}

img{
  padding: 0.5rem 0 0.5rem;
}

#form{
  display: flex;
}

li{
  list-style:none
}

.cluster-marker {
  color: #fff;
  background: #421985b7;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

.boton_personalizado{
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;
}

a:visited{
  color: rgb(240, 77, 132)
}

.geocoderContainer{
  padding: 0 10px 0 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
/*cell phones*/
  
} 

@media only screen and (min-width: 601px) and (max-width: 1200px){
/*big tablets and laptops*/ 
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
}

@media only screen and (min-width: 1400px) {
  .App-right {
    height: 88.1vh;
  }
}


