**{
  margin: 0;
}

.App {
  background-color: #5b6533;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.App-header {
  display: flex;
  position: absolute;
  background-color: #098f2b;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 8px 0; 
  top: 0;
  z-index: 1;
}

#form{
  display: flex;
  align-items: center;
}


.navControl{
  top: 3.5em;
  right: 0;
 }

.geolocateClass{
  left: 60vw;
  top: 0em;
}

.buttonDrop{
  padding-right: 3.7vw;
}

.geocoderContainer{
  padding-right: 1.5vw;
}

.buttonDrop:hover::after{
  font-size: small;
  content: 'Choose km distance';
  text-transform: capitalize;
  color:rgba(0, 0, 0, 0.7);
  background-color: #fdd9a6;
  padding: 0.4em;
  text-align: center;
  width: 10.1em;
  height: 1.5em;
  position: absolute;
  top: 3.5em;
  right: 23.5em;
  border: 0.3px solid #8da0a0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
  border-radius: 2.5px;
}

.App-container {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 96.6vh;
  z-index: 0;
}

.App-left {
  display: flex;
  justify-content: center;
  padding: 0.7em;
  width: 75vw;
}

.mapClass{
  border-radius: 7px;
  margin-top: 8.3vh;
  /* height: auto; */
}

.App-right {
  /* right: 0; */
  margin-top: 8.3vh;
  overflow: auto;
  width: 24vw;
  padding: 0.7em 0.8em 0em 0.1em; 
  height: 84.45vh;
  text-align: center; 
}

.App-footer {
  display: flex;
  position: absolute;
  bottom: 0px; 
  background-color: #098f2b;
  width: 100vw;
  min-height: 0.3%;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  padding: 8px 0;
  font-size: 0.9em;
}

.marker {
  background: none;
  border: none;
  cursor: pointer
}

img{
  padding: 0.5rem 0 0.5rem;
}

#title{
  font-size: 28px;
  font-style: bold;
  padding-left: 1vw;
}

li{
  list-style:none;
}

.cluster-marker {
  color: #fff;
  background: #421985b7;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.App-link {
  color: #61dafb;
}

a:visited{
  color: rgb(240, 77, 132)
}

.buttonGo{
  background-color: #54d30a;
  border: none;
  color: darkblue;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 6px 0 0 10px;
  border-radius: 60%;
  cursor:pointer
}

.popupStyle .mapboxgl-popup-content{ 
  background-color: #cd3c3c;
  cursor: default;
  color: white;
  font-size: 0.87rem;
  text-size-adjust: auto;
  text-align: center; 
}

.popupStyle.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
  border-top-color:  #cd3c3c;
}
.popupStyle.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
  border-bottom-color:  cd3c3c;
}
.popupStyle.mapboxgl-popup-anchor-left .mapboxgl-popup-tip{
  border-right-color:  cd3c3c;
}
.popupStyle.mapboxgl-popup-anchor-right .mapboxgl-popup-tip{
  border-left-color:  cd3c3c;
}

.popupStyle.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip{
  border-bottom-color:  cd3c3c;
}
.popupStyle.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip{
  border-bottom-color:  cd3c3c;
}
.popupStyle.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip{
  border-top-color:  cd3c3c;
}
.popupStyle.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip{
  border-top-color:  cd3c3c;
} 

.popupLink{
  padding: 0.6rem 0 0.18rem;
} 

@media only screen and (orientation: portrait) and (max-width: 600px) {
   
  .App-container {
    flex-direction: column;
    height: 98vh;
  }
  
  .App-header {
    flex-direction: column;
    padding: 1.5px 0px 8px;
  }
  
  #form{
    justify-content: flex-end;
    padding-left: 12vw;
  }
  
  .geolocateClass{
    left: -2.65vw;
    top: 1.1em;
  }
  
  .buttonDrop{
    padding-right: 2vw;
   }
  
  .geocoderContainer{
    padding-right: 2.5vw;
  } 

  .App-left {
   width: 92vw;
   height: 46vh;
   justify-content: center;
   padding: 0.5em 1em;
  }

  .mapClass{
    margin-top: 6.7em;
  } 
  
  .App-right {
    width: 98%;
    right: 3.5px;
    height: 44vh;
    top: 51.5%;
    overflow: auto;
    padding: 0;
  }

  .navControl{
    top: 5em;
    right: 21em
   } 
  
  .App-footer {
    top: 98vh;
    font-size: 11px;
  }
  
  #title{
    padding: 0;
    margin-bottom: 7px;
    font-size: 20px;
  }

  
  .mapboxgl-ctrl-geocoder{
    height: 2em;
    line-height: 1;
  }
  
  .mapboxgl-ctrl-geocoder--input{
    position: relative;
    top: -6px;
    max-width: 100%;
    vertical-align: top;
  }
  
  .mapboxgl-ctrl-geocoder--input::placeholder {
   font-size: small;
   color: black;
  }
  
  .mapboxgl-ctrl-geocoder--input:focus {
    font-size: small;
    height: 2.5em;
    top: 1.9px;
    padding-left: 35px;
  }
  
  .mapboxgl-ctrl-geocoder--input:not(:focus){ 
    font-size: small;
    padding-left: 35px;
  }
  
  .mapboxgl-ctrl-geocoder .suggestions {
    font-size: small;
    padding-left: 35px;
  }
  
  .mapboxgl-ctrl-geocoder--icon-search {
    padding: 0 0 8px 0;
  }
  
  .mapboxgl-ctrl-geocoder--icon-close {
    padding: 0 0 8px 0;
  }
  
  .mapbox-gl-geocoder--error{
    color: darkslategrey;
    padding: 5px 12px;
    font-size: small;
    text-align: center
  }
  
  .mapboxgl-ctrl-geocoder--icon-loading {
    width: 15px;
    height: 15px;
    top: -1px;
    margin-right: -3px;
    padding: 0 0 8px 0;
  }
  
  .mapboxgl-ctrl-geocoder .suggestions > li > a {
    padding: 3px 6px;
    font-size: small;
  }
  
}   

@media only screen  and (orientation: landscape) and (max-width: 740px) {

/*   .geolocateClass{
    left: 38vw;
    top: -4px;
   }

   .App-left {
    width: 59.7vw;
    height: 86.3vh
  }

  .App-right {
    width: 38.9vw;
    height: 76.2vh;
    padding-left: 0.5%; 
    padding-right: 1.3%; 
  }

  .App-footer {
    padding: 4px 0;
  } */

} 

@media only screen and(min-width: 360px) and (max-width: 600px) {

 /*  .geocoderContainer{
    right: 2vw;
    top: -4px
   }

   .buttonDrop{
  
   } */
}


@media only screen and (min-width: 601px) and (max-width: 1200px){
/*big tablets and laptops*/ 
}

@media only screen and (min-width: 1200px) and (max-width: 1400px) {
 /*  .App-right {
    padding-right: 0.6%; 
  } */
}

@media only screen and (min-width: 1400px) {

  .geolocateClass{
    top: 0.1em;
  }

  .App-header {
    padding: 1.24em 0;
  }

  .App-footer {
    padding: 1.38em 0;
  }
  
  .App-left {
    width: 76.6vw;
    height: 97vh;
  }
 
  .App-right {
    width: 24vw;
  }

}

@media only screen and (max-width: 359px) {

  .geocoderContainer{
   right: 0vw;
  }
  
  .buttonDrop{
    left: -0.1vw;
   }
  }


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
